body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* UserMap */
.map {
  position: absolute;
  margin-top: 50px;
  height: 95vh;
  width: 100vw;
}

/* Header */
div.header {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background: white;
  z-index: 1000;
}

div.header button {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: #279fd9;
  color: white;
  font-weight: bold;
  border: 0px;
  padding: 0.5em;
  margin: 0em 1em;
  width: 10%;
  height: 100%;
  font-size: 18px;
  float: right;
}

div.header button:hover {
  background-color: darkblue;
  cursor: pointer;
}

/* Login&RegisterForm */
div.fade-main {
  position: fixed;
  top: 0;
  z-index: 1020;
  height: 100vh;
  width: 100vw;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  overflow: scroll;
}

div.sticky {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 100px;
  margin-right: 150px;
}

.close {
  position: fixed;
  color: #f1f1f1;
  height: 85px;
  font-size: 100px;
  font-weight: bold;
  transition: transform 0.4s ease-in-out;
  line-height: 70%;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(90deg);
}

div.login {
  height: 60vh;
  width: 40vw;
  margin: auto;
  margin-top: 5%;
  padding-top: 25px;
}

div.login h1 {
  color: rgb(0, 200, 255);
  margin-bottom: 0.5em;
  font-size: 3em;
}

div.login h2 {
  color: rgb(255, 0, 0);
  margin-top: 2em;
  font-size: 1.5em;
}

div.login input {
  background: none;
  border: none;
  outline: none;
  width: 60%;
  padding: 12px 20px;
  margin-bottom: 1em;
  display: inline-block;
  box-sizing: border-box;
  font-size: 180%;
  color: white;
  border-bottom: 3px solid rgb(0, 200, 255);
}

div.login button {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: #279fd9;
  color: white;
  font-weight: bold;
  border: 0px;
  padding: 0.5em;
  margin: 0em 2em;
  width: 20%;
  font-size: 20px;
}

div.login button:hover {
  background-color: darkblue;
  cursor: pointer;
}

.login .formDate {
  width: 30%;
}

.login label.formDate {
  color: white;
  width: 10%;
  margin-left: 10%;
  font-size: 180%;
}

.login .formTime {
  width: 30%;
  margin-right: 20%;
}

/* Editing text button in the toolbar */
.leaflet-draw-toolbar .leaflet-draw-draw-textbox {
  background-image: url("icons/button-textbox.png");
  background-size: 30px 30px;
}

/* Editing tooltips */
.leaflet-tooltip {
  font-size: 18px;
  /* Overriding tooltip layout by making it invisible */
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
}

/* remove the small triangle on tooltip */
.leaflet-tooltip-bottom:before {
  border: 0;
}

/* Editing editable tooltips */
.editable {
  cursor: text; /* the cursor icon doesn't change by default when hovering on top of the text; overriding */
  min-width: 154px;
  min-height: 18px;
  color: #fff;
  font-weight: bold;
  /* text borders */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* placeholder text for tooltip */
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #777;
  text-shadow: none;
  font-weight: normal;
}
